---
title: Tags
permalink: /tags/
layout: layouts/home.njk
---
<ul>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" >{{ tag }}</a></li>
{% endfor %}
</ul>
