---
title: Tags
permalink: /tags/
layout: layouts/home.njk
---
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" >{{ tag }}</a>
{% endfor %}
