---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

<p>Posted on: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}

{%- if tags.length > 1 or nextPost or previousPost %}
<hr>
{%- endif %}

{%- if tags.length > 1 %}
<p>Tagged with:</p>
<ul>
  {%- for tag in tags | filterTagList %}
  {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
  {%- endfor %}
</ul>
{%- endif %}

{%- if nextPost or previousPost %}
<p>More posts:</p>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}

{%- endif %}
